:root > * {
    /*
    * Custom Color Schema
    * Available Colors:
    * https://github.com/squidfunk/mkdocs-material/blob/master/src/assets/stylesheets/main/_colors.scss
    *            
    * More Info:
    * https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/
    */

    /* Default color shades */
    --md-primary-fg-color: #4c0d04;
  
    /* Accent color shades */
    --md-accent-fg-color: #5e1106;

    /* Typeset `a` color shades */
    --md-typeset-a-color: #80190a;
}

/* Layout */
.md-grid {
    max-width: 70rem;
}